.title {
	margin: 0 auto;
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
   
    &__promo {
	color: #ffffff;
	text-align: left;
	line-height: 48px;
	text-transform: inherit;
	font-size: 42px;
	padding: 0px 175px 0px 0px;
	@media (max-width: $md2+px) {
		padding: 0;
	}
	
         
    }
    &-white {
		font-size: 30px;
		font-weight: 900;
		line-height: 36px;
		text-align: center;
		color: rgb(255, 255, 255);
		text-transform: none;
          
    }
    &-black {
        font-size: 30px;
        font-weight: 900;
        line-height: 36px;
        text-align: center;
        color: rgb(0, 0, 0);
          
    }

}